@model Pharmacy.Models.OrderModel
@{
    ViewBag.Title = "Ordini";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("VisualizeOrders", "VisualizeOrders", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    <div>
        <table class="table">
            <tr>
                <th>Cod. Fiscale Paziente</th>
                <th>Data Scadenza</th>

            </tr>

            @foreach (var order in Model.orders)
            {
                <tr>
                    <td> @order.PatientFiscalCode </td>
                    &nbsp;
                    <td> @order.ExpireDate </td>
                    &nbsp;
                    <td>@Html.ActionLink("Dettaglio ordine", "VisualizeOrderDetails", "VisualizeOrders")</td>
                </tr>
            }

        </table>
    </div>
}